.post-list-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}
.post-card {
  width: auto;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
